@{
    ViewBag.Title = "Reports";
}
@model DevExpress.XtraReports.UI.XtraReport
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>


    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.Report }
    )
</head>
<body>
    <div>
        <h2>Master report (customers)</h2>
        <ul>
            <li>
                <a href="/Home/MasterPrint">Print</a>
            </li>
            <li>
                <a href="/Home/MasterEdit">Edit</a>
            </li>
        </ul>
    </div>
    <div>
        <h2>Detail report (customer phone numbers)</h2>
        <ul>
            <li>
                <a href="/Home/DetailPrint">Print</a>
            </li>
            <li>
                <a href="/Home/DetailEdit">Edit</a>
            </li>
        </ul>
    </div>
</body>
</html>



